<div class="wrapper">
    <div class="wrap">
        <div class="header_wrap">
            <p class="header">
                Filter by keywords
            </p>
        </div>
        <div class="filter-wrap">
            <div class="img-wrap">
                <img src="./assets/search-icon.png" alt="search-icon" class="img-search">
            </div>
            <div class="input-wrap">
                <input 
                type="text" 
                class="filter" 
                placeholder="Enter the keywords to find posts..."
                [(ngModel)]="data.searchStr"
                >
            </div>
        </div>
    </div>
</div>

